@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bagel+Fat+One&family=Cormorant+Infant&family=Cormorant+SC:wght@500&family=Libre+Caslon+Display&family=Wix+Madefor+Display&family=Ysabeau+Infant&display=swap");
@import "miscs";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Wix Madefor Display", sans-serif;
	color: #423d3d;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background: radial-gradient(circle, #ff88a4, #fdd2dc 400px, #e2f8ff);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	h1,
	h2 {
		font-family: "Libre Caslon", serif;
		letter-spacing: 2px;
		text-align: center;
	}

	h1 {
		font-size: 2.5rem;
		color: #f4bbca;
		text-shadow: 0px 0 8px #eda6b8aa;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #e77994;
	}

	h2 {
		color: #ebb6bc;
		font-size: 2rem;
		margin-bottom: 25px;
		text-shadow: 0px 0 4px #eda6b8aa;
	}

	a {
		text-decoration: none;
		color: #423d3d;
		transition: 300ms;
		&:hover {
			color: #ef7591;
		}
	}

	.btn {
		color: #ef7591;
		border: 1px solid #ef7591;
		padding: 10px;
		background-color: white;
		font-weight: bold;
		font-family: "Cormorant Infant", serif;
		border-radius: 7px;
		font-size: 1.2rem;
		box-shadow: 0 0 5px #eda6b866;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: #ef7591;
			color: white;
			text-shadow: 0 0 3px #831e35;
		}
	}

	.content-wrapper {
		height: 900px;
		width: 900px;
		background-color: #ffffff;
		border-radius: 7px;
		border: 2px rgb(255, 255, 255) solid;
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.594);
		padding: 40px 50px;
		overflow: auto;
		overflow-x: hidden;
	}
}

// Key Sections
main {
	.subtitle {
		text-align: center;
		font-size: 0.8rem;
		font-style: italic;
		margin: 10px 0;
		line-height: 1.9;
		color: rgb(94, 93, 93);
		span {
			font-style: normal;
			font-weight: bold;
		}
	}

	section {
		margin-bottom: 70px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	nav {
		display: flex;
		justify-content: space-between;
		padding: 5px 10px;
		background-color: #fdd2dc;
		border-bottom: 1px #ff88a4 solid;

		ul {
			display: flex;
			gap: 20px;
			align-items: center;
			list-style: none;
			font-size: 0.9rem;
			font-weight: bold;
			padding-right: 10px;
		}

		.dots {
			display: flex;
			align-items: center;
			gap: 10px;
			.dot {
				width: 13px;
				height: 13px;
				background-color: #ff88a4;
				border-radius: 50px;
				&:hover {
					background-color: bisque;
				}
			}
		}
	}
}

/* ----------- */
//  Project Section
#projects-section {
	@include flex(column);

	#projects-subtitle {
		font-size: 1.7rem;
		text-align: center;
	}

    section {
        margin-bottom: 20px;
    }

	.projects-grid-container {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		padding: 30px 0px 10px;
		row-gap: 40px;
		column-gap: 60px;
		overflow-x: visible;
		overflow: visible;
		white-space: nowrap;
		position: relative;
		justify-items: center;

        @include grid-center-last(2);

		.project-card {
			background: rgb(255, 255, 255);
			background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 84%, rgba(255, 239, 243, 1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 84%, rgba(255, 239, 243, 1) 100%);
			background: linear-gradient(180deg, rgba(255, 255, 255, 1) 84%, rgba(255, 239, 243, 1) 100%);
			box-shadow: 0px 1px 6px #d3d3d3;
			width: 280px;
			height: 438px !important;
			padding: 10px 10px 20px 10px;

			&:hover {
				box-shadow: 0px 1px 4px #bbb9b9;
				transform: scale(1.02);
				-webkit-transform: scale(1.02);
				-moz-transform: scale(1.02);
				-ms-transform: scale(1.02);
				-o-transform: scale(1.02);
			}

			figure {
				width: 100%;
				height: 260px;
				background-position: center;
				margin-bottom: 15px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 34px;
					-webkit-border-radius: 34px;
					-moz-border-radius: 34px;
					-ms-border-radius: 34px;
					-o-border-radius: 34px;
				}
			}

			.project-bottom {
				@include flex(column);
				padding: 0 20px;
				gap: 10px;

				.project-description {
					text-align: center;
					width: 100%;
					white-space: wrap;
				}

				.project-btn {
					border: 1px solid #ef7591;
					padding: 3px 7px;
					background-color: #ef7591;
					color: white;
					text-shadow: 0 0 3px #831e35;
					width: fit-content;
					font-weight: bold;
					font-family: "Cormorant Infant", serif;
					font-size: 1.1rem;
					box-shadow: 0 0 5px #eda6b866;
					cursor: pointer;

					&:hover,
					&:focus {
						text-shadow: none;

						background-color: white;
						color: #ef7591;
					}
					border-radius: 7px;
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					-ms-border-radius: 7px;
					-o-border-radius: 7px;
				}
			}
			transition: 200ms;
			-webkit-transition: 200ms;
			-moz-transition: 200ms;
			-ms-transition: 200ms;
			-o-transition: 200ms;
			border-radius: 40px;
			-webkit-border-radius: 40px;
			-moz-border-radius: 40px;
			-ms-border-radius: 40px;
			-o-border-radius: 40px;
		}

		.blurEffect {
			background: rgb(255, 239, 243);
			background: -moz-linear-gradient(90deg, rgba(255, 239, 243, 0) 0%, rgba(255, 255, 255, 1) 67%);
			background: -webkit-linear-gradient(90deg, rgba(255, 239, 243, 0) 0%, rgba(255, 255, 255, 1) 67%);
			background: linear-gradient(90deg, rgba(255, 239, 243, 0) 0%, rgba(255, 255, 255, 1) 67%);
			position: absolute;
			height: 100%;
			width: 200px;
			right: -50px;
		}
	}
}

//  About Us Section
#about-us-section {
	.about-main {
		text-align: justify;
		width: 100%;
		height: 300px;
		overflow: hidden;
		p {
			margin-bottom: 20px;
		}
		img {
			float: left;
			max-width: 30% !important;
			min-width: 200px !important;
			margin-right: 20px;
			border-radius: 10px;
		}
		.holy-words {
			font-family: "Bacasime Antique";
			font-size: 1.2rem;
			color: #d05473;
			text-shadow: 0px 0 7px #eda6b8aa;
		}
	}

	.btn-sect {
		display: flex;
		position: relative;
		bottom: 220px;
		z-index: 9999;
		align-items: end;
		justify-content: center;
		height: 150px;
		background: linear-gradient(0deg, rgb(255, 255, 255) 20%, rgba(50, 0, 103, 0) 100%);

		.read-more-btn {
			color: #ef7591;
			border: 1px solid #ef7591;
			padding: 10px;
			background-color: white;
			font-weight: bold;
			font-family: "Cormorant Infant", serif;
			border-radius: 7px;
			font-size: 1.2rem;
			box-shadow: 0 0 5px #eda6b866;
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: #ef7591;
				color: white;
				text-shadow: 0 0 3px #831e35;
			}
		}
	}
}
