@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bagel+Fat+One&family=Cormorant+Infant&family=Cormorant+SC:wght@500&family=Libre+Caslon+Display&family=Wix+Madefor+Display&family=Ysabeau+Infant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Onest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bagel+Fat+One&family=Cormorant+Infant&family=Cormorant+SC:wght@500&family=Libre+Caslon+Display&family=Wix+Madefor+Display&family=Ysabeau+Infant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Gideon+Roman&family=Gloock&family=Pixelify+Sans&family=Playfair:opsz@5..1200&family=Ysabeau+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;
  color: #423d3d;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: radial-gradient(circle, #ff88a4, #fdd2dc 400px, #e2f8ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body h1,
body h2 {
  font-family: "Libre Caslon", serif;
  letter-spacing: 2px;
  text-align: center;
}
body h1 {
  font-size: 2.5rem;
  color: #f4bbca;
  text-shadow: 0px 0 8px rgba(237, 166, 184, 0.6666666667);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e77994;
}
body h2 {
  color: #ebb6bc;
  font-size: 2rem;
  margin-bottom: 25px;
  text-shadow: 0px 0 4px rgba(237, 166, 184, 0.6666666667);
}
body a {
  text-decoration: none;
  color: #423d3d;
  transition: 300ms;
}
body a:hover {
  color: #ef7591;
}
body .btn {
  color: #ef7591;
  border: 1px solid #ef7591;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
  border-radius: 7px;
  font-size: 1.2rem;
  box-shadow: 0 0 5px rgba(237, 166, 184, 0.4);
  cursor: pointer;
}
body .btn:hover, body .btn:focus {
  background-color: #ef7591;
  color: white;
  text-shadow: 0 0 3px #831e35;
}
body .content-wrapper {
  height: 900px;
  width: 900px;
  background-color: #ffffff;
  border-radius: 7px;
  border: 2px rgb(255, 255, 255) solid;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.594);
  padding: 40px 50px;
  overflow: auto;
  overflow-x: hidden;
}

main .subtitle {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin: 10px 0;
  line-height: 1.9;
  color: rgb(94, 93, 93);
}
main .subtitle span {
  font-style: normal;
  font-weight: bold;
}
main section {
  margin-bottom: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header nav {
  padding: 5px 10px;
  background-color: #fdd2dc;
  border-bottom: 1px #ff88a4 solid;
}
header nav .desktop-nav {
  display: flex;
  justify-content: space-between;
}
header nav .desktop-nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding-right: 10px;
}
header nav .mobile-nav .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
header nav .mobile-nav .main-nav i {
  font-size: 1.5rem;
}
header nav .mobile-nav .main-nav i:hover, header nav .mobile-nav .main-nav i:active {
  color: #ff88a4;
}
header nav .dots {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .dots .dot {
  width: 13px;
  height: 13px;
  background-color: #ff88a4;
  border-radius: 50px;
}
header nav .dots .dot:hover {
  background-color: bisque;
}

/* ----------- */
#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects-section #projects-subtitle {
  font-size: 1.7rem;
  text-align: center;
}
#projects-section section {
  margin-bottom: 20px;
}
#projects-section .projects-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 30px 0px 10px;
  row-gap: 40px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  overflow-x: visible;
  overflow: visible;
  white-space: nowrap;
  position: relative;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#projects-section .projects-grid-container > * {
  grid-column: span 2;
}
#projects-section .projects-grid-container > *:nth-last-child(1):nth-child(odd) {
  grid-column: 2/span 2;
}
#projects-section .projects-grid-container .project-card {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 84%, rgb(255, 239, 243) 100%);
  box-shadow: 0px 1px 6px #d3d3d3;
  width: 280px;
  height: 438px !important;
  padding: 10px 10px 20px 10px;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
#projects-section .projects-grid-container .project-card:hover {
  box-shadow: 0px 1px 4px #bbb9b9;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
#projects-section .projects-grid-container .project-card figure {
  width: 100%;
  height: 260px;
  background-position: center;
  margin-bottom: 15px;
}
#projects-section .projects-grid-container .project-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}
#projects-section .projects-grid-container .project-card .project-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  gap: 10px;
}
#projects-section .projects-grid-container .project-card .project-bottom .project-description {
  text-align: center;
  width: 100%;
  white-space: wrap;
}
#projects-section .projects-grid-container .project-card .project-bottom .project-btn {
  border: 1px solid #ef7591;
  padding: 3px 7px;
  background-color: #ef7591;
  color: white;
  text-shadow: 0 0 3px #831e35;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
  font-size: 1.1rem;
  box-shadow: 0 0 5px rgba(237, 166, 184, 0.4);
  cursor: pointer;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
#projects-section .projects-grid-container .project-card .project-bottom .project-btn:hover, #projects-section .projects-grid-container .project-card .project-bottom .project-btn:focus {
  text-shadow: none;
  background-color: white;
  color: #ef7591;
}
#projects-section .projects-grid-container .blurEffect {
  background: rgb(255, 239, 243);
  background: linear-gradient(90deg, rgba(255, 239, 243, 0) 0%, rgb(255, 255, 255) 67%);
  position: absolute;
  height: 100%;
  width: 200px;
  right: -50px;
}

#about-us-section .about-main {
  text-align: justify;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#about-us-section .about-main p {
  margin-bottom: 20px;
}
#about-us-section .about-main img {
  float: left;
  max-width: 30% !important;
  min-width: 200px !important;
  margin-right: 20px;
  border-radius: 10px;
}
#about-us-section .about-main .holy-words {
  font-family: "Bacasime Antique";
  font-size: 1.2rem;
  color: #d05473;
  text-shadow: 0px 0 7px rgba(237, 166, 184, 0.6666666667);
}
#about-us-section .btn-sect {
  display: flex;
  position: relative;
  bottom: 220px;
  z-index: 9999;
  align-items: end;
  justify-content: center;
  height: 150px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 20%, rgba(50, 0, 103, 0) 100%);
}
#about-us-section .btn-sect .read-more-btn {
  color: #ef7591;
  border: 1px solid #ef7591;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
  border-radius: 7px;
  font-size: 1.2rem;
  box-shadow: 0 0 5px rgba(237, 166, 184, 0.4);
  cursor: pointer;
}
#about-us-section .btn-sect .read-more-btn:hover, #about-us-section .btn-sect .read-more-btn:focus {
  background-color: #ef7591;
  color: white;
  text-shadow: 0 0 3px #831e35;
}

/* Phones */
@media screen and (max-width: 500px) {
  .desktop-nav {
    display: none !important;
  }
}
/* Tablets */
/* Small Screens - Laptop & Computer */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mobile-nav {
    display: none !important;
  }
}
/* Large Screens - Laptop & Computer */
@media screen and (min-width: 1201px) {
  .mobile-nav {
    display: none !important;
  }
}/*# sourceMappingURL=main.css.map */