@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bagel+Fat+One&family=Cormorant+Infant&family=Cormorant+SC:wght@500&family=Libre+Caslon+Display&family=Wix+Madefor+Display&family=Ysabeau+Infant&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(circle, #ff88a4, #fdd2dc 400px, #e2f8ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Wix Madefor Display", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}
a:hover {
  color: #ef7591;
}

.content-wrapper {
  height: 900px;
  width: 900px;
  background-color: #ffffff;
  border-radius: 7px;
  border: 2px rgb(255, 255, 255) solid;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.594);
  padding: 40px 10px;
}

h1,
h2 {
  font-family: "Libre Caslon", serif;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #f4bbca;
  text-shadow: 0px 0 8px #eda6b8aa;
  -webkit-text-stroke-width: 1px;
  text-stroke-width: 1px;
  -webkit-text-stroke-color: #e77994;
  text-stroke-color: #e77994;
}

.subtitle {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin: 10px 0;
  line-height: 1.9;
  color: rgb(94, 93, 93);
}
.subtitle span {
  font-style: normal;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Optional: Add a higher z-index value to make sure the header appears above other content */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #fdd2dc;
  border-bottom: 1px #ff88a4 solid;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding-right: 10px;
}

.dots {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dot {
  width: 13px;
  height: 13px;
  background-color: #ff88a4;
  border-radius: 50px;
}
.dot:hover {
  background-color: bisque;
}
